<!DOCTYPE html>
<html>

<head>
  <style>
    body{
      margin-left: auto;
      margin-right: auto;
    }  
  </style>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="login ">
    <form action="/login" method="post">
      <input type="text" name="name" >
      <input type="test" name="password" >
      <input type="submit" value="登录" >
    </form>
  </div>
  <div class="registe">
      <form action="/registe" method="post">
        <input type="text" name="name">
        <input type="test" name="password">
        <input type="submit" value="注册">
      </form>   
  </div>
</body>

</html>