body{
    padding: 5px;
}
.box{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    width:800px;
    height: 500px;
}
.right{
   
    border-bottom-style: solid ;
    border-bottom-width: 1px;
    width:100%;
    height: 85%;
}
.left{
    
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    width:100%;
    height:5% ;
}
.left>nav{
    
    float:right;
    
}
.left>nav a{
font-size: 15pt;
text-decoration: none;
}
.info{
    width: 100%;
    height: 5%;
}
.info>input{
    width:  99%;
    margin: 0;
}